<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Recipes</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <section id="nav">

  </section>

  <div id="ad">

  </div>

  <div id="ad">

  </div>

  <section id="searchRecipe">

  </section>
  
  <section id="errorMessage">

  </section>
  
  <section id="recipes">
    
  </section>
  
  <script src="/assets/recipeBundle.js"></script>
</body>
</html>
